<%- include('../../layouts/header.ejs') -%>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('../../layouts/sidebar.ejs') -%>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include('../../layouts/navbar.ejs') -%>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">   
                  <div class="p-5 mb-auto">
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Tạo Đơn Hàng!</h1>
                      </div>
                      <form class="user" action="/admin/" method="POST">
                          <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                  <input type="text" class="form-control form-control-user" id="" name="area"
                                      placeholder="Tên Khu Vực">
                              </div>
                              <div class="col-sm-6">
                                  <input type="number" class="form-control form-control-user" id="" name="phone"
                                      placeholder="Số Điện Thoại">
                              </div>
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control form-control-user" id="" name ="receiver"
                                  placeholder="Tên người nhận">
                          </div>
                          <div class="form-group">
                            <textarea type="text" class="form-control form-control-user" id="" name ="content"
                                placeholder="Nội dung"></textarea>
                          </div>
                          <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                  <input type="text" class="form-control form-control-user" name="price"
                                      id="" placeholder="Số tiền thu hộ">
                              </div>
                              <div class="col-sm-6">
                                  <input type="text" class="form-control form-control-user" name="address"
                                      id="" placeholder="Địa chỉ">
                              </div>
                          </div>
                          <button type="submit" class="btn btn-primary btn-user btn-block">
                              Tạo mới
                          </button>
                          
                      </form>
                  </div>
                </div>
 <!-- End of Main Content -->
  
              <!-- Footer -->
              <%- include('../../layouts/footer.ejs') -%>
              <!-- End of Footer -->
  
          </div>
          <!-- End of Content Wrapper -->
  
      </div>
      <!-- End of Page Wrapper -->
  
      
      <%- include('../../layouts/javascript.ejs') -%>
  </body>
  
</html>